/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

/* BACKGROUND */
body {
    background: no-repeat center center fixed;
    background-image: url("cfb-8-bit-park.png");
    background-size: cover;
}

/* TEXT */
h1 {
    color: #1DB80E;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    margin: 25px;
}
h2 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    /*font-style: italic;*/
    letter-spacing: 4px;
}

h1, h2 {
    text-align: center;
}

/* BUTTONS */
.buttonCenter {
    text-align: center;
    margin-top: 100px;
}
