/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

body {
    background: no-repeat center center fixed;
    background-image: url("https://image.freepik.com/free-vector/gradient-football-field-background_23-2148996276.jpg");
    background-size: cover;
}

h1 {
    color: #75FF05;
    font-family: 'Molle', cursive;
    font-size: 50px;
}
h2 {
    color: white;
    font-family: 'Barlow', sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 10px;
}