<!-- FLOAT ICON -->
<a href="/">
    <i class="fas fa-undo returnIcon"></i>
    <p class="returnText"><strong>RETURN</STRONG></p>
</a>

<h1 class="h1Error">
    <span class="spanErrorHead">{{ errorHead }}</span>
    <br />
    {{ errorMessageAbove }}
    <br />
    <span class="spanErrorConj">{{ errorConj }}</span>
    <br />
    {{ errorMessageBelow }}
</h1>