<h2>COLLEGE FOOTBALL</h2>
<h1>{{ title }}</h1>
<h2>SELECT YOUR TEAMS</h2>

<!-- RESULTS BUTTON -->
<div class="buttonCenter">
    <a href="/addTeams">
        <button>Team Results</button>
    </a>
</div>