<div class="textMargin">
    <h2>COLLEGE FOOTBALL</h2>
    <h1>{{ title }}</h1>
    <h2>SELECT YOUR TEAMS</h2>
</div>

<!-- RESULTS BUTTON -->
<div class="buttonCenter">
    <a href="/results">
        <button class="buttonStyle"><strong>TEAM RESULTS</strong></button>
    </a>
</div>