<div class="textMargin">
    <h2>COLLEGE FOOTBALL</h2>
    <h1>{{ title }}</h1>
    <h2>SELECT YOUR TEAMS</h2>
</div>

<div class="buttonCenter">
    <form action="/viewTeams" method="GET">
        Team 1:<input type="text" name="team1" autocomplete="off" />
        Team 2:<input type="text" name="team2" autocomplete="off" />
        <br />
            <a href="/results">
                <button class="buttonStyle"><strong>TEAM RESULTS</strong></button>
            </a>
    </form>
</div>